<div class="container">
    <div class="row mt-3 mb-3 text-center">
        <h1>Visualizar gráfico</h1>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/sample/sh-point" method="get" target="_blank">
                <div class="mb-3">
                    <label class="form-label" for="point">Ponto</label>
                    <select class="form-control" name="point">
                        {{#each points}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="parameter">Parâmetro</label>
                    <select class="form-control" name="parameter">
                        {{#each parameters}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="initialDate">Data inicial</label>
                    <input class="form-control" type="date" name="initialDate" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="finalDate">Data final</label>
                    <input class="form-control" type="date" name="finalDate" required>
                </div>
                <button class="btn btn-primary" type="submit">Gerar gráfico</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-3 mb-3 text-center">
        <h1>Baixar gráficos</h1>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/sample/sh-bulk" method="get">
                <div class="mb-3">
                    <label class="form-label" for="points">Pontos</label>
                    <select class="form-control" name="points" multiple>
                        {{#each points}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="parameter">Parâmetro</label>
                    <select class="form-control" name="parameter">
                        {{#each parameters}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="initialDate">Data inicial</label>
                    <input class="form-control" type="date" name="initialDate" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="finalDate">Data final</label>
                    <input class="form-control" type="date" name="finalDate" required>
                </div>
                <button class="btn btn-primary" type="submit">Baixar gráficos</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>